.form {
  display: flex;
  flex-direction: column;
    @media (min-width: @tablet-width) {
      flex-direction: row;
      flex-wrap: wrap;
    }
}
.form__fieldset {
  border: none;
}
.form__item {
  margin-bottom: 54px;
}

.form__fieldset--rating {
  @media (min-width: @tablet-width) {
    order: -1;
    width: 45%;
  }
}

.form__fieldset--fullname {
  @media (min-width: @tablet-width) {
    width: 45%;
  }
}

.form__fieldset--contacts {
  display: flex;
  flex-direction: column;
  @media (min-width: @tablet-width) {
    width: 100%;
  }
  @media (min-width: @desktop-width) {
    flex-direction: row;
  }

}

.form__fieldset--visited {
  @media (min-width: @tablet-width) {
    width: 100%;
  }
}

.form__fieldset--textarea {
  @media (min-width: @tablet-width) {
    width: 100%;
  }
}

.form__list {
  .list-clean();
}

.form__list--visited {
  display: flex;
  flex-direction: column;
  @media (min-width: @tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }
  @media (min-width: @desktop-width) {
    flex-direction: row;
  }
}

.form__legend {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  @media (min-width: @tablet-width) {
    font-size: 21px;
    line-height: 26px;
  }
}

.form__label {
  font-size: 14px;
  line-height: 26px;
  color: @sub-text;
  text-transform: uppercase;
}

.form__control::placeholder {
  opacity: 1;
  color: @main-text;
}

.form__control--text {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  background-color: @radio-checkbox;
  &:hover {
    @radio-checkbox-hover;
  }
}

.form__label--text,
.form__control--text {
  font-size: 18px;
  font-weight: 700;
  text-transform: none;
  line-height: 26px;
  color: @main-text;
}

.form__button {
  display: inline-block;
  vertical-align: top;
  background-color: @main-blue;
  border: none;
  text-transform: uppercase;
  color: @contrast-text;
  text-decoration: none;
  text-align: center;
  padding: 15px 40px;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.form__item label {
  position: relative;
}

// Радио кнопки

.form__label--radio {
  padding-left: 50px;
}

.form__radio + .form__label--radio::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0;
  width: 48px;
  height: 48px;
  background-color: @radio-checkbox;
  border-radius: 50%;
}
.form__radio:checked + .form__label--radio::before {
  background-image: url(../img/radio-on.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.form__radio:active + .form__label--radio::before {
  background-image: url(../img/radio-active.svg);
  background-color: @radio-checkbox-active;
  background-repeat: no-repeat;
  background-position: center;
}

.form__radio + .form__label--radio:hover::before {
  background-color: @radio-checkbox-hover;
}

.form__list--rating .form__item {
  margin-bottom: 43px;
}

// Чекбоксы

.form__label--checkbox {
  padding-left: 70px;
}

.form__checkbox + .form__label--checkbox::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0;
  width: 48px;
  height: 48px;
  background-color: @radio-checkbox;
  border-radius: 5px;
}

.form__checkbox:checked + .form__label--checkbox::before {
  background-image: url(../img/checkbox-on.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.form__checkbox:active + .form__label--checkbox::before {
  background-image: url(../img/checkbox-active.svg);
  background-color: @radio-checkbox-active;
  background-repeat: no-repeat;
  background-position: center;
}

.form__checkbox + .form__label--checkbox:hover::before {
  background-color: @radio-checkbox-hover;
}

.form__icon {
  width: 58px;
  height: 58px;
  background-color: @radio-checkbox-hover;
  background-repeat: no-repeat;
  background-position: center;
  flex: none;
}

.form__field--phone,
.form__field--email {
  display: flex;
  flex-wrap: wrap;
}

.form__field--phone .form__icon {
  background-image: url("../img/phone.svg");
}

.form__field--email .form__icon {
  background-image: url("../img/mail.svg");
}

.form__control--textarea {
  width: 310px;
}
