
.form__list {
  .list-clean();
}

.form {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  margin: 0;
  display: flex;
  flex-direction: column;
  border-top: 1px solid @radio-checkbox-hover;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 48px;
    padding-right: 60px;
    padding-left: 60px;
    border-top: none;
  }

  @media (min-width: @desktop-width) {
    padding-left: 120px;
    padding-right: 120px;
  }
}

.form__fieldset--rating {
  margin-top: 22px;

  @media (min-width: @tablet-width) {
    order: -1;
    width: 50%;
    margin-top: 0;
  }
}

.form__fieldset--rating .form__legend {
  @media (min-width: @tablet-width) {
    margin-bottom: 75px;
    text-align: left;
  }

  @media (min-width: @desktop-width) {
    margin-left: 77px;
  }
}

.form__list--rating {
  padding-top: 18px;

  @media (min-width: @tablet-width) {
    padding-top: 0;
  }
}

.form__list--rating .form__item {
  margin-bottom: 43px;

  @media (min-width: @tablet-width) {
    margin-bottom: 51px;
  }
}

.form__fieldset--fullname {
  position: relative;

  @media (min-width: @tablet-width) {
    width: 50%;
  }
}

.form__field--name {
  @media (min-width: @tablet-width) {
    margin-left: 57px;
    margin-top: 36px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 77px;
  }
}

.form__field--surname {
  @media (min-width: @tablet-width) {
    margin-left: 57px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 77px;
  }
}

.form__field--patronymic {
  @media (min-width: @tablet-width) {
    margin-left: 57px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 77px;
  }
}

.form__fieldset--fullname::before {
  display: none;

  @media (min-width: @tablet-width) {
    content: "";
    background-color: @radio-checkbox-hover;
    height: 292px;
    width: 1px;
    position: absolute;
    top: -42px;
    left: 0;
    display: block;
  }
}

.form__fieldset--fullname .form__legend {
  text-align: center;

  @media (min-width: @tablet-width) {
    margin-left: 57px;
    text-align: left;
  }

  @media (min-width: @desktop-width) {
    margin-left: 77px;
  }
}

.form__fieldset--contacts {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  position: relative;

  @media (min-width: @tablet-width) {
    width: 100%;
    margin-top: 37px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.form__fieldset--contacts::before {
  position: absolute;
  content: "";
  width: 320px;
  height: 1px;
  top: -70px;
  left: -20px;
  background-color: @radio-checkbox-hover;

  @media (min-width: @tablet-width) {
    width: 123px;
    height: 1px;
    top: -38px;
    left: 0;
  }

  @media (min-width: @desktop-width) {
    width: 280px;
    height: 1px;
    top: -40px;
    left: 680px;
  }
}

.form__fieldset--contacts::after {
  position: absolute;
  content: "";
  width: 320px;
  height: 1px;
  top: 220px;
  left: -20px;
  background-color: @radio-checkbox-hover;

  @media (min-width: @tablet-width) {
    width: 123px;
    height: 1px;
    top: -38px;
    left: 525px;
  }

  @media (min-width: @desktop-width) {
    width: 280px;
    height: 1px;
    top: -40px;
    left: 0;
  }
}

.form__fieldset--contacts .form__label {
  padding-left: 22px;
  margin-top: -5px;
  margin-bottom: 10px;

  @media (min-width: @tablet-width) {
    width: 100%;
  }

  @media (min-width: @desktop-width) {
    width: auto;
    padding-left: 0;
    padding-top: 10px;
    margin-top: 0;
  }
}

.form__icon {
  width: 58px;
  height: 58px;
  background-color: @radio-checkbox-hover;
  background-repeat: no-repeat;
  background-position: center;
  flex: none;
}

.form__field--phone .form__icon {
  background-image: url("../img/phone.svg");
}

.form__field--email .form__icon {
  background-image: url("../img/mail.svg");
}

.form__field--phone,
.form__field--email {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: @tablet-width) {
    margin-top: 5px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 55px;
  }
}

.form__fieldset--visited {
  margin-top: 14px;
  position: relative;

  @media (min-width: @tablet-width) {
    width: 100%;
    margin-top: 30px;
  }

  @media (min-width: @tablet-width) {
    width: 100%;
    margin-top: 25px;
  }
}

.form__fieldset--visited::before {
  position: absolute;
  content: "";
  width: 320px;
  height: 1px;
  top: -85px;
  left: -20px;
  background-color: @radio-checkbox-hover;

  @media (min-width: @tablet-width) {
    width: 123px;
    height: 1px;
    top: -50px;
    left: 525px;
  }

  @media (min-width: @desktop-width) {
    width: 280px;
    height: 1px;
    top: -45px;
    left: 0;
  }
}

.form__fieldset--visited::after {
  position: absolute;
  content: "";
  width: 320px;
  height: 1px;
  top: 327px;
  left: -20px;
  background-color: @radio-checkbox-hover;

  @media (min-width: @tablet-width) {
    width: 123px;
    height: 1px;
    top: -50px;
    left: 0;
  }

  @media (min-width: @desktop-width) {
    width: 280px;
    height: 1px;
    top: -45px;
    left: 680px;
  }
}

.form__fieldset--textarea {
  margin-top: 7px;

  @media (min-width: @tablet-width) {
    width: 100%;
    margin-top: 20px;
    position: relative;
  }

  @media (min-width: @desktop-width) {
    text-align: center;
  }
}

.form__fieldset--textarea::before {
  display: none;

  @media (min-width: @tablet-width) {
    content: "";
    background-color: @radio-checkbox-hover;
    position: absolute;
    width: 123px;
    height: 1px;
    top: 12px;
    left: 20px;
    display: block;
  }

  @media (min-width: @desktop-width) {
    width: 280px;
    height: 1px;
    top: 10px;
    left: 0;
  }
}

.form__fieldset--textarea::after {
  display: none;

  @media (min-width: @tablet-width) {
    content: "";
    background-color: @radio-checkbox-hover;
    position: absolute;
    width: 123px;
    height: 1px;
    top: 12px;
    left: 525px;
    display: block;
  }

  @media (min-width: @desktop-width) {
    width: 280px;
    height: 1px;
    top: 10px;
    left: 680px;
  }
}

.form__fieldset--textarea .form__legend {
  margin-left: 33px;

  @media (min-width: @tablet-width) {
    margin-left: 199px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
  }
}

.form__list--visited {
  padding-top: 15px;
  padding-left: 5px;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 38px;
    padding-left: 100px;
    padding-right: 25px;
  }

  @media (min-width: @desktop-width) {
    justify-content: space-between;
    padding-left: 0;
    padding-right: 0;
  }
}

.form__list--visited .form__item {
  @media (min-width: @tablet-width) {
    width: 50%;
    margin-bottom: 63px;
  }

  @media (min-width: @desktop-width) {
    width: auto;
  }
}

.form__list--visited .form__label {
  padding-right: 0;
}

.form__fieldset {
  border: none;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
}

.form__field {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.form__item {
  margin-bottom: 54px;
}

.form__legend {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    font-size: 21px;
    line-height: 26px;
  }
}

.form__label {
  font-size: 14px;
  line-height: 26px;
  color: @sub-text;
  text-transform: uppercase;
  padding-right: 14px;
}

.form__item label {
  position: relative;
}

.form__control::placeholder {
  opacity: 1;
  color: @main-text;
}

.form__control--text {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  height: 58px;
  width: 100%;
  padding-left: 22px;
  box-sizing: border-box;
  border: none;
  background-color: @radio-checkbox;

  &:hover {
    background-color: @radio-checkbox-hover;
  }

  &:active,
  &:focus {
    background-color: @contrast-text;
    border: 4px solid @radio-checkbox-hover;
    box-sizing: border-box;
    outline: none;
  }
}

.form__label--text,
.form__control--text {
  font-size: 18px;
  font-weight: 700;
  text-transform: none;
  line-height: 26px;
  color: @main-text;
}

.form__control--phone,
.form__control--mail {
  width: 222px;

  @media (min-width: @tablet-width) {
    width: 590px;
  }

  @media (min-width: @desktop-width) {
    width: 258px;
  }
}

.form__control--textarea {
  height: 160px;
  margin-top: 13px;
  padding-top: 13px;

  @media (min-width: @tablet-width) {
    margin-top: 60px;
  }
}

.form__button {
  display: inline-block;
  vertical-align: top;
  background-color: @main-blue;
  border: none;
  text-transform: uppercase;
  color: @contrast-text;
  text-decoration: none;
  text-align: center;
  padding: 15px 40px;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  margin-top: 49px;
  margin-bottom: 40px;

  @media (min-width: @tablet-width) {
    margin-top: 51px;
    padding: 15px 71px;
    margin-bottom: 60px;
  }

  @media (min-width: @desktop-width) {
    padding: 15px 150px;
    margin-bottom: 68px;
  }

  &:hover {
    background-color: @main-blue-hover;
  }

  &:active {
    background-color: @main-blue-down;
    color: rgba((@contrast-text), 0.3);
  }

  &:disabled {
    background-color: @radio-checkbox-hover;
  }
}

.form__necessarily {
  display: none;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    display: block;
    margin-top: 70px;
    font-size: 14px;
    line-height: 26px;
  }
}

.form__hidden {
  @media (min-width: @desktop-width) {
    display: none;
  }
}

// Радио кнопки
.form__label--radio {
  padding-left: 77px;
}

.form__radio + .form__label--radio::before {
  content: "";
  position: absolute;
  left: 5px;
  top: -13px;
  width: 48px;
  height: 48px;
  background-color: @radio-checkbox;
  border-radius: 50%;
}

.form__radio:checked + .form__label--radio::before {
  background-image: url("../img/radio-on.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.form__radio:active + .form__label--radio::before {
  background-image: url("../img/radio-active.svg");
  background-color: @radio-checkbox-active;
  background-repeat: no-repeat;
  background-position: center;
}

.form__radio + .form__label--radio:hover::before {
  background-color: @radio-checkbox-hover;
}

// Чекбоксы
.form__label--checkbox {
  padding-left: 75px;
}

.form__checkbox + .form__label--checkbox::before {
  content: "";
  position: absolute;
  left: -5px;
  top: -16px;
  width: 58px;
  height: 58px;
  background-color: @radio-checkbox;
  border-radius: 5px;
}

.form__checkbox:checked + .form__label--checkbox::before {
  background-image: url("../img/checkbox-on.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.form__checkbox:active + .form__label--checkbox::before {
  background-image: url("../img/checkbox-active.svg");
  background-color: @radio-checkbox-active;
  background-repeat: no-repeat;
  background-position: center;
}

.form__checkbox + .form__label--checkbox:hover::before {
  background-color: @radio-checkbox-hover;
}
