.form {
  display: flex;
  flex-direction: column;
    @media (min-width: @tablet-width) {
      flex-direction: row;
      flex-wrap: wrap;
    }
}
.form__fieldset--rating {
  @media (min-width: @tablet-width) {
    order: -1;
    width: 45%;
  }
}

.form__fieldset--fullname {
  @media (min-width: @tablet-width) {
    width: 45%;
  }
} 

.form__fieldset--contacts {
  display: flex;
  flex-direction: column;
  @media (min-width: @tablet-width) {
    width: 100%;
  }
  @media (min-width: @desktop-width) {
    flex-direction: row;
  }

}

.form__fieldset--visited {
  @media (min-width: @tablet-width) {
    width: 100%;
  }
}

.form__fieldset--textarea {
  @media (min-width: @tablet-width) {
    width: 100%;
  }
}

.form__list {
  .list-clean();
}

.form__list--visited {
  display: flex;
  flex-direction: column;
  @media (min-width: @tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }
  @media (min-width: @desktop-width) {
    flex-direction: row;
  }
}

.form__legend {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.form__label {
  font-size: 14px;
  line-height: 26px;
  color: @sub-text;
  text-transform: uppercase;
}

.form__control::placeholder {
  opacity: 1;
  color: @main-text;
}

.form__control--text {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}

.form__label--text,
.form__control--text {
  font-size: 18px;
  font-weight: 700;
  text-transform: none;
  line-height: 26px;
  color: @main-text;
}

.form__button {
  display: inline-block;
  vertical-align: top;
  background-color: @main-blue;
  border: none;
  text-transform: uppercase;
  color: @contrast-text;
  text-decoration: none;
  text-align: center;
  padding: 15px 40px;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}
