.intro {
  background-image: url(../img/intro-triangle.svg), url(../img/intro-bg.jpg);
  background-size: auto, cover;
  @media (min-resolution: 2dppx) {
    background-image: url(../img/intro-triangle.svg), url("../img/intro-bg@2x.jpg");
  }
    @media (min-width: @tablet-width) {
      background-image: url(../img/intro-big-triangle.svg), url(../img/intro-bg-tablet.jpg);
      background-position: 0 bottom, 0 50%;
      @media (min-resolution: 2dppx) {
        background-image: url(../img/intro-big-triangle.svg), url("../img/intro-bg-tablet@2x.jpg");
        background-position: 0 bottom, 0 50%;
      }
    }
    @media (min-width: @desktop-width) {
      background-image: url(../img/intro-huge-triangle.svg), url(../img/intro-bg-desktop.jpg);
      background-position: 0 bottom, 0 50%;
      @media (min-resolution: 2dppx) {
        background-image: url(../img/intro-huge-triangle.svg), url("../img/intro-bg-desktop@2x.jpg");
        background-position: 0 bottom, 0 50%;
      }
    }
  background-repeat: no-repeat;
  background-position: 0 bottom, 0 0;
  background-color: @main-blue;
}

.intro__wrapper {
  text-align: center;
  padding-top: 90px;
  padding-bottom: 85px;
  padding-left: 19px;
  padding-right: 19px;

}
