.intro {
  background-image: url(../img/intro-triangle.svg), url(../img/intro-bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: 0 332px, 0 0;
  height: 389px;
  background-color: @main-blue;
}

.intro__wrapper {
  padding-top: 90px;
  padding-bottom: 85px;
  padding-left: 19px;
  padding-right: 19px;
}
