.main-nav {

}

.main-nav__list {
  .list-clean();
  text-transform: uppercase;
}

.main-nav__toggle {
  border: none;
  width: 22px;
  padding: 0;
  margin: 0;
  margin-left: 280px;
  background-color: @contrast-text;
  @media (min-width: @tablet-width) {
    display: none;
  }
}
