.main-nav {
  display: flex;
  flex-direction: row;
}

.main-nav__list {
  .list-clean();
  text-transform: uppercase;
}

.site-list__item {

}

.site-list__link {
  color: @main-text;
  text-decoration: none;
}

.main-nav__toggle {
  border: none;
  width: 22px;
  padding: 0;
  margin: 0;
  margin-right: 19px;
  background-color: @contrast-text;
}

.toggle-menu__top,
.toggle-menu__middle,
.toggle-menu__bottom {
  background-color: @main-blue;
  width: 22px;
  height: 4px;
  margin-bottom: 4px;
}

.toggle-menu__bottom {
  margin-bottom: 0;
}
