.page-footer__hashtag {
  font-family: "PT Sans Bold";
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
}

.page-footer__copyright {
  text-decoration: none;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: @main-text;
}
