.page {
  height: 100%;
}

.page__body {
  background-color: @body;
  width: 100%;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.page__wrapper {
  position: relative;
}