.review__intro {
  text-align: center;
  height: 158px;
  background-image: url("../img/intro-triangle.svg"), url("../img/form-intro-bg.jpg");
  @media (min-resolution: 2dppx) {
    background-image: url("../img/intro-triangle.svg"), url("../img/form-intro-bg@2x.jpg");
  }
  @media (min-width: @tablet-width) {
    background-image: url(../img/intro-big-triangle.svg), url(../img/form-intro-tablet.jpg);
    @media (min-resolution: 2dppx) {
      background-image: url("../img/intro-big-triangle.svg"), url("../img/form-intro-tablet@2x.jpg");
    }
    height: 290px;
  }
  @media (min-width: @desktop-width) {
    background-image: url(../img/intro-huge-triangle.svg), url(../img/form-intro-desktop.jpg);
    @media (min-resolution: 2dppx) {
      background-image: url("../img/intro-huge-triangle.svg"), url("../img/form-intro-desktop@2x.jpg");
    }
    height: 301px;
  }
  background-repeat: no-repeat;
  background-position: 0 bottom, top;
  background-size: auto, cover;
}

.review__pic {
  margin-top: 50px;
  @media (min-width: @tablet-width) {
    width: 457px;
    height: 78px;
    margin-top: 90px;
  }
}
.review__title {
  padding-top: 50px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 26px;
  }
}

.review__text {
  font-size: 14px;
  line-height: 24px;
  color: @sub-text;
  text-transform: uppercase;
  text-align: center;
}
