.site-list {
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
}

.site-list__item {
  background-color: @main-blue;
}

.site-list__link {
  color: @contrast-text;
  text-decoration: none;
}
