.social-list {
  .list-clean();
  display: flex;
  flex-direction: row;

}

.social-list__link {
  background-color: @main-blue;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  margin-right: 6px;
}
