.sub-list {
  .list-clean();
  position: relative;
  margin-left: 69px;
  text-align: left;
}

.sub-list__title {
  font-family: "PT Sans Bold";
  font-size: 18px;
  line-height: 26px;
}

.sub-list__text {
  font-size: 14px;
  line-height: 21px;
}

.sub-list__title--motel::before {
  content: "";
  background-image: url(../../img/icon-house.svg);
  background-repeat: no-repeat;
  position: absolute;
  width: 37px;
  height: 39px;
  left: -55px;
}

.sub-list__title--gift::before {
  content: "";
  background-image: url(../../img/icon-gift.svg);
  background-repeat: no-repeat;
  position: absolute;
  width: 32px;
  height: 38px;
  left: -55px;
}

.sub-list__title--food::before {
  content: "";
  background-image: url(../../img/icon-burger.svg);
  background-repeat: no-repeat;
  position: absolute;
  width: 40px;
  height: 35px;
  left: -55px;
}
